/* the basic idea i had for my css is to make the to do list look like a note pad! i think i did a good job and added a background just to make the website look good! */

@charset "utf-8";

body {
    background-image: url('img/bg.jpeg');
}

div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}

/* sections to make not pads */
section {
    width: 500px;
    max-width: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
}

#notePad {
    background-color: rgb(255, 255, 136, 0.6);
}

#commonGorceries {
    background-color: rgb(173, 216, 230, 0.6);
    color: darkgreen;
}

#commonWorkouts {
    background-color: rgb(144, 238, 144, 0.6);
    color: darkblue;
}

form {
    text-align: center;
}

h1 {
    text-align: center;
}

h4 {
    margin-left: 20px;
    font-style: italic;
}

input {
    float: left;
    margin-left: 20px;
}

li {
    border-bottom: 1px solid black;
    padding: 5px;
    margin: 10px;
}

button {
    float: right;
    margin-right: 10px;
}



#addToList:hover {
    background-color: lightgreen;
}

#delete:hover {
    background-color: red;
}

/* navbar */

#fb-login {
    float: right;
    margin-top: 5px;
}

#logout {
    display: none;
}

header {
    position: top;
    text-align: center;
    color: white;
}

nav {
    border: 2px solid red;
    z-index: 1;
}

nav ul {
    padding: 5px;
    margin: 0 auto;
    background-color: darkblue;
    list-style-type: none;
    border: none;
}

nav ul li {
    margin-left: 300px;
    border: none;
    display: inline;
}